@charset "utf-8";

@import "helpers/html5";
    
@import "partials/forms";
@import "partials/reset";
@import "partials/layout";
@import "partials/pages";

@font-face {
    font-family: 'HelveticaRegular';
    src: url('helvetica_regular.eot');
    src: url('helvetica_regular.woff') format('woff'),
         url('helvetica_regular.ttf') format('truetype'),
         url('helvetica_regular.svg#webfontx0Z28LCH') format('svg');
    font-weight: normal;
    font-style: normal;
}

