@charset "utf-8";
/* Reset
-------------------------------------------------------------------*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em,
font, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, dl, dt, dd, ol, ul,
li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  margin: 0;
  padding: 0;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border: 0; }

:focus {
  outline: 0; }

html {
  width: 100%; }

body {
  line-height: 1;
  font-family: Verdana,Tahoma,Arial;
  color: #000;
  font-size: 14px;
  width: 100%; }

ol, ul {
  list-style: none; }

table {
  border-collapse: collapse;
  empty-cells: show;
  border-spacing: 0;
  width: 100%;
  border: none; }

caption, th, td {
  text-align: left;
  font-weight: normal; }

blockquote:before, blockquote:after, q:before, q:after {
  content: ""; }

blockquote, q {
  quotes: "" ""; }

a {
  text-decoration: underline;
  color: inherit; }

body {
  background-color: #4B7399;
  font-family: Verdana, Helvetica, Arial;
  font-size: 14px; }

h1 {
  font-size: 24px;
  padding: 15px 0; }

h2 {
  font-size: 22px;
  padding: 10px 0; }

a {
  color: #0000FF;
  line-height: 16px; }

.clear {
  clear: both;
  height: 0;
  overflow: hidden; }

#container {
  width: 900px;
  margin: 0 auto;
  background-color: #eee;
  padding: 20px 40px;
  margin-top: 20px;
  min-height: 300px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 10px #555555;
  -moz-box-shadow: 0px 0px 10px #555555;
  box-shadow: 0px 0px 10px #555555;
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(255, 255, 255, 0.6)), to(rgba(255, 255, 255, 0)));
  background-image: -moz-linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0)); }

#navigation a {
  color: #333;
  font-size: 16px;
  padding-right: 8px; }

#flash_notice, #flash_error, #flash_alert {
  padding: 5px 8px;
  margin: 10px 0; }

#flash_notice {
  background-color: #CFC;
  border: solid 1px #6C6; }

#flash_error, #flash_alert {
  background-color: #FCC;
  border: solid 1px #C66; }

.fieldWithErrors {
  display: inline; }

.error_messages {
  width: 400px;
  border: 2px solid #CF0000;
  padding: 0px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  font-size: 12px; }
  .error_messages h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 10px;
    font-size: 12px;
    margin: 0;
    background-color: #c00;
    color: #fff; }
  .error_messages p {
    margin: 8px 10px; }
  .error_messages ul {
    margin: 0; }

/* Users
-------------------------------------------------------------------*/
#users tr {
  font-size: 16px;
  border-bottom: 1px solid #444;
  border-top: 1px solid #444; }
  #users tr:hover {
    background: #C3D9FF; }
  #users tr td {
    padding: 10px; }
    #users tr td.email {
      font-size: 18px; }
    #users tr td.controls {
      text-align: right; }
      #users tr td.controls a {
        color: #333; }

/* Auth
-------------------------------------------------------------------*/
.devise_shared_links a {
  display: inline-block;
  color: #000;
  padding: 3px; }

@font-face {
  font-family: 'HelveticaRegular';
  src: url("helvetica_regular.eot");
  src: url("helvetica_regular.woff") format("woff"), url("helvetica_regular.ttf") format("truetype"), url("helvetica_regular.svg#webfontx0Z28LCH") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  background: #fff; }

#container {
  background: none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }
  #container .sign-up {
    width: 550px;
    height: 500px;
    margin: 0 auto;
    font-family: 'HelveticaRegular';
    *font-family: 'Helvetica', 'Helvetica Neue';
    font-size: 12px;
    line-height: 18px;
    color: #4a4a4a; }
    #container .sign-up .commented {
      display: none; }
    #container .sign-up header {
      background: url("../images/signup-header.png") 0 0 no-repeat;
      height: 82px;
      position: relative; }
      #container .sign-up header h2 {
        position: absolute;
        left: 15px;
        bottom: 10px;
        font-size: 27px;
        line-height: 32px;
        padding: 0; }
      #container .sign-up header .logo {
        position: absolute;
        right: 16px;
        bottom: 7px;
        text-indent: -9999em;
        text-align: left;
        background: url("../images/logo-mini.png") 0 0 no-repeat;
        height: 61px;
        width: 79px; }
    #container .sign-up section h3 {
      font-size: 18px;
      line-height: 24px;
      padding-left: 15px; }
    #container .sign-up section .intro,
    #container .sign-up section .form-body {
      padding: 8px 0 0 0;
      background: url("../images/signup-body.png") 0 0 repeat-y;
      overflow: hidden; }
      #container .sign-up section .intro p,
      #container .sign-up section .form-body p {
        border-bottom: 1px solid #e5e5e5;
        padding: 0 12px 10px 15px; }
      #container .sign-up section .intro .row,
      #container .sign-up section .form-body .row {
        overflow: hidden;
        width: 533px;
        margin: 0 0 8px;
        clear: both;
        padding-top: 2px;
        padding-left: 14px; }
        #container .sign-up section .intro .row input,
        #container .sign-up section .form-body .row input {
          background: url("../images/signup-input.png") 0 0 no-repeat;
          border: 0;
          width: 242px;
          height: 16px;
          float: left;
          margin-right: 7px;
          font-size: 12px;
          line-height: 16px;
          text-transform: uppercase;
          padding: 9px 8px;
          color: #4a4a4a;
          font-family: 'HelveticaRegular';
          *font-family: 'Helvetica', 'Helvetica Neue';
          font-weight: bold;
          display: block; }
          #container .sign-up section .intro .row input.required,
          #container .sign-up section .form-body .row input.required {
            background: url("../images/signup-input-required.png") 0 0 no-repeat; }
          #container .sign-up section .intro .row input:focus,
          #container .sign-up section .form-body .row input:focus {
            background: url("../images/signup-input.png") 0 0 no-repeat; }
        #container .sign-up section .intro .row.textarea,
        #container .sign-up section .form-body .row.textarea {
          background: url("../images/signup-row-textarea.png") 1px center repeat-x;
          border-top: 1px solid #e5e5e5;
          margin-top: 2px;
          margin-bottom: 0;
          margin-left: 1px;
          padding-top: 8px;
          padding-bottom: 6px; }
          #container .sign-up section .intro .row.textarea textarea,
          #container .sign-up section .form-body .row.textarea textarea {
            background: url("../images/signup-textarea.png") 0 0 no-repeat;
            width: 507px;
            height: 80px;
            padding: 8px;
            font-size: 12px;
            line-height: 16px;
            text-transform: uppercase;
            border: 0;
            color: #4a4a4a;
            font-family: 'HelveticaRegular';
            *font-family: 'Helvetica', 'Helvetica Neue';
            font-weight: bold;
            overflow: hidden;
            resize: none; }
    #container .sign-up section footer {
      background: url("../images/signup-footer.png") 0 0 no-repeat;
      height: 35px;
      text-align: center;
      padding: 10px 0; }
      #container .sign-up section footer input {
        border: 0;
        background: url("../images/signup-submit.png") 0 0 no-repeat;
        text-align: center;
        color: #fff;
        width: 274px;
        height: 31px;
        text-transform: uppercase;
        font-family: 'HelveticaRegular';
        font-size: 12px;
        display: block;
        margin: 0 auto;
        cursor: pointer; }
