/* Users
-------------------------------------------------------------------*/
#users tr {
  font-size: 16px;
  border-bottom: 1px solid #444;
  border-top: 1px solid #444; }
  #users tr:hover {
    background: #C3D9FF; }
  #users tr td {
    padding: 10px; }
    #users tr td.email {
      font-size: 18px; }
    #users tr td.controls {
      text-align: right; }
      #users tr td.controls a {
        color: #333; }

/* Auth
-------------------------------------------------------------------*/
.devise_shared_links a {
  display: inline-block;
  color: #000;
  padding: 3px; }
